body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

nav img{
    height: 60px;
    width: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    font-size: 19px;
    font-weight: 600;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    margin-right: 370px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.btn button {
    padding: 10px 20px;
    border: solid;
    font-size: 13px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
}

.botones-verde{
    justify-content: space-between;
}

#ingresar button{
    background-color: white; /* Color inicial del botón */
    color: black;
    border-color: black;
}
#ingresar button:hover{
    background-color: whitesmoke; /*Color del botón cuando el ratón pasa por encima*/
    color: gray;
}

#unete button{
    background-color: black; /* Color inicial del botón */
    color: white;
    border-color: black;
}

#unete button:hover{
    background-color: rgb(99, 99, 99);/*Color del botón cuando el ratón pasa por encima*/
    color: white;
    border-color: rgb(99, 99, 99);
}

a {
    color: black;
    text-decoration: none;
    margin: 25px;
}

.container{
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    align-items: flex-start;
}

#container-verde{
    color: white;
    background-color: #1e3932;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 40%;
    height: 100vh;

}

#container-blanco{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: auto;
}

.cuerpo {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}

.icons img{
    width: auto;
    height: 90px;
    padding: 0%;
}

.f-vert {
   
    margin-top: 30px;
    width: 85vw;
    height: auto;
    display: flex;
    

    color: gray;
    
}

.menu-v {
    color: rgb(156, 155, 155);
}

.f-vert ul {
    display: flex;
    flex-direction: column;
    list-style: none; 
}

.f-horizontal {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(156, 155, 155);
}

.rrss {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
       
}

.icon-elem {
    list-style: none;
    font-size: 32px;
}

.icon-elem:hover {
   transform: translateY(-10px); 
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    list-style: none;
    color: rgb(156, 155, 155);
}

.menu-i {
    color: rgb(156, 155, 155);
}