.top-section {
    display: block;
    color: rgb(224, 79, 11);
}

.cuerpo-1 {
    background-color: rgb(93, 31, 251);
    color: white;
    display:inline-flex;
    flex-direction: row;
}

.cuerpo-2 {
    background-color: rgb(245, 52, 65);
    color: white;
    display:inline-flex;
}

button {

    background-color: rgb(245, 52, 65); /* Color inicial del botón */
  
    color: white;
  
    padding: 10px 20px;
  
    border: none;
  
    cursor: pointer;
  
  }
  button:hover{
    background-color: green; /*Color del botón cuando el ratón pasa por encima*/
  }

.pie-gris {
    color: rgb(154, 153, 153);
}

h3 {
    font-size: larger;
}
