.navbar-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif; 
}

.navbar-right {
    display: flex;
    flex-direction: column;
    justify-content: right;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif; 
}

body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

nav img{
    width: 7vw;
}


.container{
    margin-top: 30px;
    width: 85vw;
    height: auto;

    display: flex;
    flex-direction: row;

    color: white;
}

.container img{
    width: 650px;
    height: auto;
}

.cuerpo {
    padding: 9%;
    text-align: center;
    font-size: 17px;
}

#container-green{
    background-color: #1e3932;
}

#container-blue {
    background-color: rgb(93, 31, 251);
    flex-direction: row-reverse;
}

#container-red{
    background-color: #d50032;    
}

#container-green-2{
    background-color: #1e3932;
    flex-direction: row-reverse;
}

button {
    background-color: rgb(245, 52, 65); /* Color inicial del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  
  }
  button:hover{
    background-color: rgb(93, 31, 251); /*Color del botón cuando el ratón pasa por encima*/
  }

.pie-gris {
    color: rgb(154, 153, 153);
}

