body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

nav img{
    height: 60px;
    width: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    font-size: 19px;
    font-weight: 600;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    margin-right: 370px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.btn button {
    padding: 10px 20px;
    border: solid;
    font-size: 13px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
}

#ingresar button{
    background-color: white; /* Color inicial del botón */
    color: black;
    border-color: black;
}
#ingresar button:hover{
    background-color: whitesmoke; /*Color del botón cuando el ratón pasa por encima*/
    color: gray;
}

#unete button{
    background-color: black; /* Color inicial del botón */
    color: white;
    border-color: black;
}

a {
    color: black;
    text-decoration: none;
    margin: 25px;
}

.container{
    margin-top: 30px;
    width: 85vw;
    height: auto;

    display: flex;
    flex-direction: row;

    color: white;
}

.container img{
    width: 650px;
    height: auto;
}

.cuerpo {
    padding: 9%;
    text-align: center;
    font-size: 17px;
}

#container-green{
    background-color: #1e3932;
}

#container-blue {
    background-color: rgb(93, 31, 251);
    flex-direction: row-reverse;
}

#container-red{
    background-color: #d50032;    
}

#container-green-2{
    background-color: #1e3932;
    flex-direction: row-reverse;
}

.container-2 {
    display: flex;
}

.container-vert {
    margin-top: 30px;
    width: 40vw;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: row;

    color: white;
}

.container-vert img{
    width: 635px;
    height: auto;
    padding: 0%;
}

#container-vert-1{
    background-color: rgb(250, 116, 176);
    flex-direction: column;
    margin-right: 1.5%;
}

#container-vert-2{
    background-color: rgb(71, 217, 250);
    flex-direction: column;
}

#termos button{
    background-color: #d50032; /* Color inicial del botón */
    color: white;
    border-color: white;
}

#eventos button{
    background-color: rgb(250, 116, 176); /* Color inicial del botón */
    color: #b8022c;
    border-color: #b8022c;
}

#promo button{
    background-color:rgb(71, 217, 250); /* Color inicial del botón */
    color: rgb(1, 130, 159);
    border-color: rgb(1, 130, 159);
}

.f-vert {
   
    margin-top: 30px;
    width: 85vw;
    height: auto;
    display: flex;
    

    color: gray;
    
}

.menu-v {
    color: rgb(156, 155, 155);
}

.f-vert ul {
    display: flex;
    flex-direction: column;
    list-style: none; 
}

.f-horizontal {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(156, 155, 155);
}

.rrss {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
       
}

.icon-elem {
    list-style: none;
    font-size: 32px;
}

.icon-elem:hover {
   transform: translateY(-10px); 
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    list-style: none;
    color: rgb(156, 155, 155);
}

.menu-i {
    color: rgb(156, 155, 155);
}